$sitebackground:"../assets/photo/global/background.png";
$socialiconurls: "../assets/photo/global/facebook.svg","../assets/photo/global/linkedin.svg","../assets/photo/global/x.svg","../assets/photo/global/instagram.svg","../assets/photo/global/snapchat.svg";

$primarycolor: #009f6f;
$primary2color: #38c684;
$primary3color: #11b14e;
$primarytransparent: #009f6f31;
$primary1-2transparent:#009f6f0d;
$primary2transparent: #38c68441;
$primary3transparent: #11b04e13;
$primary3-2transparent: #11b04e2c;
$secondcolor:#ffffff;
$secondtransparent:#ffffff30;
$second1-2transparent:#ffffff0e;
$secondtextcolor:#777;
$scrollcolor:#CACACA;

$gradientBG: linear-gradient(45deg, $primary3color 0%, $primary2color 50%, $primarycolor 100%);

// *{
//     border: 1px solid #000000;
// }

//*global style*/
%hexagonborder{
    position: relative;
    top: 0px;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        background-color: $primarycolor;
        @extend %hexagon;
        @extend %animatedBG;
    }
}


%semihexagon{
    clip-path: polygon(15% 12%, 83% 12%, 100% 50%, 85% 86%, 15% 87%, 2% 50%);
    border-radius: 50%;
}

%widehexagon{
    clip-path: polygon(15% 15%, 85% 15%, 100% 50%, 85% 85%, 15% 85%, 0% 50%);
    border-radius: 50%;
}
%hexagon{
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    border-radius: 50%;
}

%transition{
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

//*animation controls*/
%animatedBG{
    background: $gradientBG;
    background-size: 300%;
    animation-name: moveBG;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moveBG {
    0%{
        background-position-y: 0%;
        background-position-x: 100%;
    }
    25%{
        background-position-y: 25%;
        background-position-x: 75%;
    }
    50%{
        background-position-y: 50%;
        background-position-x: 50%;
    }
    75%{
        background-position-y: 25%;
        background-position-x: 75%;
    }
    100%{
        background-position-y: 0%;
        background-position-x: 100%;
    }
}

%homebackanimatedBG{
    animation-name: moveupdown;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveupdown {
    0%{
        top:0%;
        filter: opacity(0%);
    }
    50%{
        filter: opacity(100%);
    }
    100%{
        top:100%;
        filter: opacity(0%);
    }
}

%shiningimage{
    overflow: hidden;
    &::before{
        position: relative;
        z-index: 100;
        content: "";
        display: block;
        width: 150%;
        height: 150%;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        transform: translateX(100%) translateY(100%) rotate(130deg);
        background: linear-gradient(0deg,transparent 0% 50%, #ffffff4f 52%, transparent 90% 100%);
    }
    &:hover{
        &::before{
            animation-name: shinemove;
        }
    }
}

@keyframes shinemove {
    0%{
        transform: translateX(100%) translateY(100%) rotate(130deg);
    }
    100%{
        transform: translateX(-100%) translateY(-100%) rotate(130deg);
    }
}

//*mixins*/
@mixin socialbtnsstyle($type){
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    @if $type=="sty1"{
        border-color: $primarycolor;
        background-color: transparent;
    }
    @else if $type=="sty2"{
        border-color: $secondcolor;
        background-color: $primarycolor;
    }
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
        @if $type=="sty2"{
            filter:brightness(0) invert(1);
        }
    }
}

@mixin circlewave($side,$size){
    z-index: 0;
    width: $size;
    height: $size;
    position: absolute;
    top: -1 * $size / 2;
    animation-name: circlewaverotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @include center("flex");
    @if $side == "right" {
        right: -1 * $size / 2 ;
    }
    @else if $side == "left" {
        left: -1 * $size / 2;
    }
    div{
        position: absolute;
        flex-shrink: 0;
        border-style: solid;
        border-radius: 50% 30% 40% 50% / 30% 40% 50% 50%;
        border-color: $secondtransparent;
    }
    @for $i from 1 through 3{
        div:nth-child(#{$i}){
            border-width: (#{12px/$i}) ;
            width: (#{$i * ($size / 4) + 100}) ;
            height: (#{$i * ($size / 4) + 100}) ;
            transform: rotate(#{$i * 85deg});
        }
    }
}
@keyframes circlewaverotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

//*global mixin*/
@mixin center ($type){
    @if $type=="flex"{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @else if $type=="xflex"{
        display: flex;
        justify-content: center;
    }
    @else if $type=="yflex"{
        display: flex;
        align-items: center;
    }
    @else if $type=="grid"{
        display: flex;
        justify-items: center;
        align-content: center;
    }
    @else if $type=="xgrid"{
        display: flex;
        justify-items: center;
    }
    @else if $type=="ygrid"{
        display: flex;
        align-content: center;
    }
    @else if $type=="position"{
        top:0px;
        bottom:0px;
        right:0px;
        left:0px;
    }
    @else if $type=="block"{
        display: block;
        margin:auto;
    }
}