@use "_shared.scss" as *;

//*Socialbtns*/
.Socialbtns{
    position: fixed;
    top: 40.4%;
    z-index: 1100;
    height: 180px;
    width: 120px;
    border-radius: 10px 50% 50% 10px;
    @include center("yflex");
    &:hover{
        a{
            opacity: 100%;
        }
        a:nth-child(1){
            top: 0px;
            left: 10px;
        }
        a:nth-child(2){
            top: 20px;
            left: 55px;
        }
        a:nth-child(3){
            top:  70px;
            left: 70px;
        }
        a:nth-child(4){
            top: 120px;
            left: 55px;
        }
        a:nth-child(5){
            top: 138px;
            left: 10px;
        }
    }
    div{
        z-index: 100;
        @extend %animatedBG;
        height: 44px;
        width: 44px;
        border-radius: 0px 50% 50% 0px;
        @include center("yflex");
        justify-content: flex-end;
        padding-right: 10px;
        box-shadow: 1px 3px 10px #00000023;
        &::before{
            content: "";
            background-image: url("../assets/photo/global/social.svg");
            background-repeat: no-repeat;
            background-size: 24px;
            filter: brightness(0) invert(1);
            display: block;
            width: 24px;
            height: 24px;
        }
    }
    a{
        box-shadow: 1px 3px 5px #00000023;
        height: 40px;
        width: 40px;
        @include socialbtnsstyle("sty2");
        position: absolute;
        top: 50%;
        left: 0px;
        opacity: 0%;
        @extend %transition;
    }
    @for $i from 1 through 5{
        a:nth-child(#{$i}){
            transition-delay:#{($i / 10)}s;
        }
    }
    $inx:0;
    @each $iconURL in $socialiconurls {
        $inx : $inx + 1;
        a:nth-child(#{$inx})::after{
            background-image: url($iconURL);
        }
    }
}