@use "_shared.scss" as *;

@font-face {
    font-family: "Plexnormal";
    src: url("../assets/font/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf");
    font-size: 16px;
}

@font-face {
    font-family: "Plexbold";
    src: url("../assets/font/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.ttf");
}

html{
    &::selection{
        background-color: $primarycolor;
    }
    &::-webkit-scrollbar
    {
        width: 8px;
        background-color: $secondcolor;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: $scrollcolor;
        border-radius: 40vw;
    }
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 1500px;
    background-image: url($sitebackground);
    background-repeat: repeat;
}

//*navbar*/
.navbar.MuiAppBar-root{
    pointer-events: all;
    top: 10px; 
    font-family: "Plexnormal";
    >div{
        height:70px;
        border-radius: 40px;
        @include center("flex");
        @extend %transition;
    }
}
.navlogo{
    width: 126px;
}
.navcontent{
    width: 100%;
    justify-content: space-between;
    box-shadow: none;
}
.navbaritems{
    span{
        padding: 13px 15px;
        @extend %semihexagon;
        @include center("flex");
    }
}
.navbaractiveitem{
    color: $secondcolor;
    @extend %animatedBG;
    border: 1px solid #ffffff;
}
.navbarlang{
    @extend %hexagonborder;
    @include center("flex");
    width: 51px;
    height: 45px;
    align-self: center;
    button{
        font-family: "Plexbold";
        font-size: 14px;
        background-color: $secondcolor;
        border: none;
        outline: none;
        line-height: 2;
        @extend %hexagon;
        width: 90%;
        height: 90%;
        @extend %transition;
        &:hover{
            @extend %animatedBG;
            color: white;
            cursor: pointer;
        }
    }
}
.navsidemenu{
    width: 250px;
    font-family: "Plexnormal";
    font-size: 14px;
    img{
        margin-bottom: 24px !important;
    }
    div{
        padding-left: 15px;
        width: 100%;
        height: 43px;
        border-radius: 12px;
        @include center("yflex");
    }
}
[data-aos="navbarshrink"] {
    >div{
        box-shadow: none;
        background-color: transparent;
    }
    &.aos-animate {
    >div{
        box-shadow: 0px 0px 20vw $primarycolor;
        background-color: $secondcolor;
        width: min(1100px,97%);
        padding-right: 20px;
        padding-left: 20px;
        >div>img{
            @media screen and (min-width:992px) and (max-width:1027px) {
                width: 11%;
            }
        }

        @media screen and (min-width:992px) and (max-width:1060px),(max-width:992px) {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
  }
}
//*homesec*/
.homesec{
    position: relative;
    @include center("flex");
    flex-direction: column;
    &::after{
        position: absolute;
        top: 0px;
        right: 0px;
        box-shadow: -100px 100px 15vw 20vw $primary3-2transparent;
    }
    &::before{
        position: absolute;
        left: 0px;
        bottom: 0px;
        box-shadow: 100px 0px 15vw 22vw $primary3-2transparent;
    }
    &::after,&::before{
        content: "";
        display: block;
        width: 0px;
    }
    h1{
        margin-top: 105px;
        text-align: center;
        font-family: "Plexbold";
        span{
            color: $primarycolor;
        }
    }
    p{
        line-height: 1.6;
        font-family: "Plexnormal";
        margin-top: 27px;
        max-width: 790px;
        text-align: center;
        font-size: 20px;
        color: $secondtextcolor;
        text-wrap: balance;
    }
    @media screen and (max-width:768px) {
        h1{
            font-size: 45px;
        }
        p{
            font-size: 14px;
        }
    }
}
.homesocialbtns {
    margin-top: 25px;
    div{
        width: 40px;
        height: 40px;
        @extend %transition;
        @include socialbtnsstyle("sty1");
        &:hover{
            background-color: $primarycolor;
            margin-top: -5px;
        }
        &::after{
            @extend %transition;
        }
        &:hover::after{
            filter:brightness(0) invert(1);
        }
    }
    $inx:0;
    @each $iconURL in $socialiconurls {
        $inx : $inx + 1;
        div:nth-child(#{$inx})::after{
            background-image: url($iconURL);
        }
    }
}
.homesecbg{
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    div{
        height: 100%;
        background: linear-gradient(180deg, $primarytransparent 0%,transparent 100%);
        width: 1px;
        @include center("xflex");
        &::after{
            content: "";
            flex-shrink: 0;
            position: relative;
            border-radius: 50%;
            background-color: $primarytransparent;
            @extend %homebackanimatedBG;
            display: block;
            width: 10px;
            height: 10px;
        }
    }
}
@for $i from 2 through 5 {
    .homebackanimatedBGdelay-#{$i}::after{
        animation-duration: #{$i}s;
    }   
}
.homebtns{
    margin-top: 30px;
    @include center("flex");
    flex-wrap: wrap;
    row-gap: 25px;
    .MuiButton-root{
        font-family: "Plexnormal";
        font-weight: bold;
        font-size: 16px;
        border-radius: 40px;
    }
    @media screen and (max-width:410px) {
        row-gap: 16px;
        column-gap: 16px;
    }
}
.homebtn.MuiButton-outlined{
    background-color: $primary1-2transparent;
    color: $primarycolor;
    padding-left: 26px;
    padding-right: 26px;
    height: 44px;
    border-color:$primarycolor; 
    box-shadow: none;
    line-height: 0;
    @extend %transition;
    &:hover{
        color: $secondcolor;
        background-color: $primarycolor;
    }
    &::before{
    content: "";
        background-image:url("../assets/photo/home/portofolio.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 20px;
        height: 20px;
        margin: 8px;
        @extend %transition;
    }
    &:hover::before{
        filter: brightness(0) invert(1);
    }
    @media screen and (max-width:600px) {
        height: 40px;
        font-size: 14px;
    }
}
.homeportfoliobtn.MuiButton-outlined{
    &::before{
        background-image:url("../assets/photo/home/portofolio.svg");
    }
}
.homeproductsbtn.MuiButton-outlined{
    &::before{
        background-image:url("../assets/photo/home/products.svg");
    }
}
.homequotationbtn.MuiButton-contained{
    padding-left: 46px;
    padding-right: 46px;
    height: 50px;
    outline: 4px solid $primarytransparent;
    box-shadow: 0px 0px 0px 8px $primary2transparent;
    @extend %animatedBG;
    &:hover{
        box-shadow: 0px 0px 0px 8px $primary2transparent;
    }
    // @media screen and (max-width:500px) {
    //     // margin: auto 10%;
    //     // padding-left: 10.045%;
    //     // padding-right: 10.045%;
    // }
}

