@use "_shared.scss" as *;

@font-face {
    font-family: "PlexNormal";
    src: url("../assets/font/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf");
    font-size: 16px;
}

@font-face {
    font-family: "PlexBold";
    src: url("../assets/font/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.ttf");
}

html{

}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    @extend %scroll;
    height: 1500px;
    background-image: url($siteBackground);
    background-repeat: repeat;
}

//*navBar*/
.navBar.MuiAppBar-root{
    pointer-events: all;
    top: 10px; 
    font-family: "PlexNormal";
    >div{
        height:70px;
        border-radius: 40px;
        @include center("flex");
        @extend %transition;
    }
}
.navLogo{
    width: 126px;
}
.navContent{
    width: 100%;
    justify-content: space-between;
    box-shadow: none;
}
.navBarItems{
    span{
        padding: 13px 15px;
        @extend %semiHexagon;
        @include center("flex");
    }
}
.navBarActiveItem{
    color: $secondColor;
    @extend %animatedBG;
    border: 1px solid #ffffff;
}
.navBarLang{
    @extend %hexagonBorder;
    @include center("flex");
    width: 51px;
    height: 45px;
    align-self: center;
    button{
        font-family: "PlexBold";
        font-size: 14px;
        background-color: $secondColor;
        border: none;
        outline: none;
        line-height: 2;
        @extend %hexagon;
        width: 90%;
        height: 90%;
        @extend %transition;
        &:hover{
            @extend %animatedBG;
            color: white;
            cursor: pointer;
        }
    }
}
.navSideMenu{
    width: 250px;
    font-family: "PlexNormal";
    font-size: 14px;
    img{
        margin-bottom: 24px !important;
    }
    div{
        padding-left: 15px;
        width: 100%;
        height: 43px;
        border-radius: 12px;
        @include center("Y-flex");
    }
}
[data-aos="navBarShrink"] {
    >div{
        box-shadow: none;
        background-color: transparent;
    }
    &.aos-animate {
    >div{
        box-shadow: 0px 0px 20vw $primaryColor;
        background-color: $secondColor;
        width: min(1100px,97%);
        padding-right: 20px;
        padding-left: 20px;
        >div>img{
            @media screen and (min-width:992px) and (max-width:1027px) {
                width: 11%;
            }
        }

        @media screen and (min-width:992px) and (max-width:1060px),(max-width:992px) {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
  }
}

.homeSection{
    position: relative;
    @include center("flex");
    flex-direction: column;
    &::after{
        position: absolute;
        top: 0px;
        right: 0px;
        box-shadow: -100px 100px 15vw 20vw $primary3-2Transparent;
    }
    &::before{
        position: absolute;
        left: 0px;
        bottom: 0px;
        box-shadow: 100px 0px 15vw 22vw $primary3-2Transparent;
    }
    &::after,&::before{
        content: "";
        display: block;
        width: 0px;
    }
    h1{
        margin-top: 105px;
        text-align: center;
        font-family: "PlexBold";
        span{
            color: $primaryColor;
        }
    }
    p{
        line-height: 1.6;
        font-family: "PlexNormal";
        margin-top: 27px;
        max-width: 790px;
        text-align: center;
        font-size: 20px;
        color: $secondTextColor;
        text-wrap: balance;
    }
    @media screen and (max-width:768px) {
        h1{
            font-size: 45px;
        }
        p{
            font-size: 14px;
        }
    }
}
.fallingBackground{
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    div{
        height: 100%;
        background: linear-gradient(180deg, $primaryTransparent 0%,transparent 100%);
        width: 1px;
        @include center("X-flex");
        &::after{
            content: "";
            flex-shrink: 0;
            position: relative;
            border-radius: 50%;
            background-color: $primaryTransparent;
            @extend %homeBackAnimatedBG;
            display: block;
            width: 10px;
            height: 10px;
        }
    }
}
@for $i from 2 through 5 {
    .homeBackAnimatedBGDelay-#{$i}::after{
        animation-duration: #{$i}s;
    }   
}
.homeButtons{
    margin-top: 30px;
    @include center("flex");
    flex-wrap: wrap;
    row-gap: 25px;
    .MuiButton-root{
        font-family: "PlexNormal";
        font-weight: bold;
        font-size: 16px;
        border-radius: 40px;
    }
    @media screen and (max-width:410px) {
        row-gap: 16px;
        column-gap: 16px;
    }
}
.homeButton.MuiButton-outlined{
    background-color: $primary1-2Transparent;
    color: $primaryColor;
    padding-left: 26px;
    padding-right: 26px;
    height: 44px;
    border-color:$primaryColor; 
    box-shadow: none;
    line-height: 0;
    @extend %transition;
    &:hover{
        color: $secondColor;
        background-color: $primaryColor;
    }
    &::before{
    content: "";
        background-image:url("../assets/photo/home/portofolio.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 20px;
        height: 20px;
        margin: 8px;
        @extend %transition;
    }
    &:hover::before{
        filter: brightness(0) invert(1);
    }
    @media screen and (max-width:600px) {
        height: 40px;
        font-size: 14px;
    }
}
.homePortfolioButton.MuiButton-outlined{
    &::before{
        background-image:url("../assets/photo/home/portofolio.svg");
    }
}
.homeProductsButton.MuiButton-outlined{
    &::before{
        background-image:url("../assets/photo/home/products.svg");
    }
}
