@use "_shared.scss" as *;

@font-face {
    font-family: "Plexnormal";
    src: url("../assets/font/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf");
    font-size: 16px;
}

@font-face {
    font-family: "Plexbold";
    src: url("../assets/font/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.ttf");
}

html{
    &::selection{
        background-color: $primarycolor;
    }
    &::-webkit-scrollbar
    {
        width: 0.5vw;
        background-color: $secondcolor;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: $scrollcolor;
        border-radius: 4vw;
    }
}
body{
    background-image: url($sitebackground);
    background-repeat: repeat;
}

//*navbar*/
.navbar.MuiAppBar-root{
    pointer-events: all;
    top: 10px; 
    font-family: "Plexnormal";
    >div{
        height:70px;
        border-radius: 40px;
        @include center("flex");
        @extend %transition;
    }
}
.navlogo{
    width: 126px;
}
.navcontent{
    width: 100%;
    justify-content: space-between;
    box-shadow: none;
}
.navbaritems{
    span{
        padding: 13px 15px;
        @extend %semihexagon;
        @include center("flex");
    }
}
.navbaractiveitem{
    color: $secondcolor;
    @extend %animatedBG;
    border: 1px solid #ffffff;
}
.navbarlang{
    @extend %hexagonborder;
    @include center("flex");
    width: 51px;
    height: 45px;
    align-self: center;
    button{
        font-family: "Plexbold";
        font-size: 14px;
        background-color: $secondcolor;
        border: none;
        outline: none;
        line-height: 2;
        @extend %hexagon;
        width: 90%;
        height: 90%;
        @extend %transition;
        &:hover{
            @extend %animatedBG;
            color: white;
            cursor: pointer;
        }
    }
}
.navsidemenu{
    width: 250px;
    font-family: "Plexnormal";
    font-size: 14px;
    img{
        margin-bottom: 24px !important;
    }
    div{
        padding-left: 15px;
        width: 100%;
        height: 43px;
        border-radius: 12px;
        @include center("yflex");
    }
}
[data-aos="navbarshrink"] {
    >div{
        box-shadow: none;
        background-color: transparent;
    }
    &.aos-animate {
    >div{
        box-shadow: 0px 0px 20vw $primarycolor;
        background-color: $secondcolor;
        width: min(1100px,97%);
        padding-right: 20px;
        padding-left: 20px;
        >div>img{
            @media screen and (min-width:992px) and (max-width:1027px) {
                width: 11%;
            }
        }

        @media screen and (min-width:992px) and (max-width:1060px),(max-width:992px) {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
  }
}
//*homesec*/
.homesec{
    position: relative;
    @include center("flex");
    flex-direction: column;
    &::after{
        position: absolute;
        top: 0px;
        right: 0px;
        box-shadow: -100px 100px 15vw 20vw $primary3-2transparent;
    }
    &::before{
        position: absolute;
        left: 0px;
        bottom: 0px;
        box-shadow: 100px 0px 15vw 22vw $primary3-2transparent;
    }
    &::after,&::before{
        content: "";
        display: block;
        width: 0px;
    }
    h1{
        margin-top: 105px;
        text-align: center;
        font-family: "Plexbold";
        span{
            color: $primarycolor;
        }
    }
    p{
        line-height: 1.6;
        font-family: "Plexnormal";
        margin-top: 27px;
        max-width: 790px;
        text-align: center;
        font-size: 20px;
        color: $secondtextcolor;
        text-wrap: balance;
    }
    @media screen and (max-width:768px) {
        h1{
            font-size: 45px;
        }
        p{
            font-size: 14px;
        }
    }
}
.homesocialbtns {
    margin-top: 25px;
    div{
        width: 40px;
        height: 40px;
        @extend %transition;
        @include socialbtnsstyle("sty1");
        &:hover{
            background-color: $primarycolor;
            margin-top: -5px;
        }
        &::after{
            @extend %transition;
        }
        &:hover::after{
            filter:brightness(0) invert(1);
        }
    }
    $inx:0;
    @each $iconURL in $socialiconurls {
        $inx : $inx + 1;
        div:nth-child(#{$inx})::after{
            background-image: url($iconURL);
        }
    }
}
.homesecbg{
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    div{
        height: 100%;
        background: linear-gradient(180deg, $primarytransparent 0%,transparent 100%);
        width: 1px;
        @include center("xflex");
        &::after{
            content: "";
            flex-shrink: 0;
            position: relative;
            border-radius: 50%;
            background-color: $primarytransparent;
            @extend %homebackanimatedBG;
            display: block;
            width: 10px;
            height: 10px;
        }
    }
}
@for $i from 2 through 5 {
    .homebackanimatedBGdelay-#{$i}::after{
        animation-duration: #{$i}s;
    }   
}
.homebtns{
    margin-top: 30px;
    @include center("flex");
    flex-wrap: wrap;
    row-gap: 25px;
    .MuiButton-root{
        font-family: "Plexnormal";
        font-weight: bold;
        font-size: 16px;
        border-radius: 40px;
    }
    @media screen and (max-width:410px) {
        row-gap: 16px;
        column-gap: 16px;
    }
}
.homebtn.MuiButton-outlined{
    background-color: $primary1-2transparent;
    color: $primarycolor;
    padding-left: 26px;
    padding-right: 26px;
    height: 44px;
    border-color:$primarycolor; 
    box-shadow: none;
    line-height: 0;
    @extend %transition;
    &:hover{
        color: $secondcolor;
        background-color: $primarycolor;
    }
    &::before{
    content: "";
        background-image:url("../assets/photo/home/portofolio.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 20px;
        height: 20px;
        margin: 8px;
        @extend %transition;
    }
    &:hover::before{
        filter: brightness(0) invert(1);
    }
    @media screen and (max-width:600px) {
        height: 40px;
        font-size: 14px;
    }
}
.homeportfoliobtn.MuiButton-outlined{
    &::before{
        background-image:url("../assets/photo/home/portofolio.svg");
    }
}
.homeproductsbtn.MuiButton-outlined{
    &::before{
        background-image:url("../assets/photo/home/products.svg");
    }
}
.homequotationbtn.MuiButton-contained{
    padding-left: 46px;
    padding-right: 46px;
    height: 50px;
    outline: 4px solid $primarytransparent;
    box-shadow: 0px 0px 0px 8px $primary2transparent;
    @extend %animatedBG;
    &:hover{
        box-shadow: 0px 0px 0px 8px $primary2transparent;
    }
    // @media screen and (max-width:500px) {
    //     // margin: auto 10%;
    //     // padding-left: 10.045%;
    //     // padding-right: 10.045%;
    // }
}
//*about*/
.aboutsection{
    padding-top: 40px;
    padding-bottom: 40px;
}
.aboutsectionside1{
    display: flex;
    justify-content: flex-end;
    div {
        border-radius: 40px;
        border-bottom: 10px solid $primarycolor;
        position: relative;
        overflow: hidden;
        width: 644px;
        height: 648px;
        img {
            position: absolute;
            right: -100px;
            height: 130%;
            object-fit: cover;
        }
        @media screen and (max-width:992px) and (min-width:768px){
            width:99%;
            height: 500px;
            img{
                height: 220%;
            }
        }
        @media screen and (max-width:768px) {
            width: 99%;
            height: 500px;
            img {
                right: -14%;
                height: 130vw;
            }
        }
        @media screen and (max-width:500px) {
            height: 100vw;
            img {
                right: -14%;
                height: 130vw;
            }
        }
    }
}
.aboutsectionside2{
    padding:55px;
    padding-right: 52px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-family: "Plexnormal";

    h3{
        font-family: "Plexbold";
        color: $secondtextcolor;
    }
    h1{
        font-family: "Plexbold";
        font-size: 40px;
        text-transform: uppercase;
        color: $secondtextcolor;
        div{
            background: linear-gradient(
                to right,
                $primarycolor 50%,
                $secondtextcolor 50%
            );
            background-size: 200% 100%;
            background-position-x: 0%;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
    p{
        color: $secondtextcolor;
        font-family: 'Plexnormal';
    }
    button{
        width: 260px;
        height: 50px;
        border-radius: 50px;
        @extend %animatedBG;
        @extend %transition;
        @include center("flex");
        padding: 0px;
        
        >div{
            border-radius: 50px;
            background-color: $secondcolor;
            width: 98.2%;
            height: 90%;
            @include center("yflex");

            &:hover{
                background-color: transparent;
            }
            &:hover>span{
                color: $secondcolor;
                left: -35px;
            }
            &:hover>div{
                left: 83%;
            }
            div{
                position: relative;
                left: 0px;
                @extend %animatedBG;
                width: 40px;
                height: 40px;
                color: $secondcolor;
                margin: 2px;
                margin-right: 8px;
                font-weight: 900;
                transition: 0.3s;
                z-index: 2;
            }
            span{
                line-height: 0.7;
                position: relative;
                left: 0px;
                @extend %transition;
                color: #000;
                text-transform: capitalize;
                font-family: "Plexnormal";
            }
        }
    }
}
.establishmentcounter{
    position: relative;
    padding-right: 45px;
    margin-top: 30px;
    span{
        text-transform: uppercase;
        font-family: "Plexnormal";
        font-weight: 900;
        font-size: 16px;
        transform: rotate(90deg);
        position: absolute;
        right: -52px;
        top: 40%;
        display: block;
    }
    h2{
        font-size: 100px;
        font-weight: 600;
        background-image: url('../assets/photo/global/background.png');
        background-clip: text;
        background-size: contain;
        color: transparent;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: $secondtextcolor;
        filter: opacity(70%);
    }
}
//*our*/
.oursection{
    padding-top: 40px;
    padding-bottom: 40px;
    div.MuiContainer-root{
        display: flex;
        flex-direction: column;
        row-gap: 35px;
    }
}
.ourvision,.ourmessage{
    padding: 35px;
    @extend %oursectioncard;
    video{
        width: 90%;
        filter: hue-rotate(270deg);
    }
}
.ourvalues{
    padding: 35px;
    @extend %oursectioncard;
    >div{
        padding-top: 12px;
        >div{
            border:1px dashed $primarytransparent;
            width: 160px;
            height: 135px;
            border-radius: 10px;
            padding-top: 20px;
            position: relative;
            &::before{
                border-radius: 10px;
                content: "";
                width: 100%;
                height: 100%;
                @extend %animatedBG;
                position: absolute;
                top: 0;
                left: 130px;
                z-index: -1;
                filter: opacity(0%);
                @extend %transition;
            }
            div{
                z-index: 2;
                width: 40px;
                height: 40px;
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: contain;
            }
            span{
                z-index: 2;
                font-family: 'Plexnormal';
                text-transform: capitalize;
            }
            &:hover::before{
                z-index: 1;
                filter: opacity(100%);
                left: 0px;
            }
            &:hover div,&:hover span{
                filter: brightness(0) invert(1);
                text-shadow: 0px 0px 1px $secondcolor;
            }
        }
        $inx:0;
        @each $iconURL in $ourvaluesurl {
            $inx : $inx + 1;
            >div:nth-child(#{$inx}) div{
                background-image: url($iconURL);
            }
        }
    }
}
