@use "_shared.scss" as *;

.sectionHeader{
    margin-bottom: 35px;
    h2{
        font-family: "PlexBold";
        color: $secondTextColor;
        font-size: 24px;
        margin-bottom: 15px;
        div{
            transform: translateY(5px);
        }
        @media screen and (max-width:768px) {
            font-size: 18px;    
        }
    }
    h1{
        font-family: "PlexBold";
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        div{
            transform: translateY(10px);
        }
        @media screen and (max-width:768px) {
            font-size: 24px;
            margin-bottom: 15px;    
        }
    }
    a{
        font-family: "PlexNormal";
        @extend %wideHexagon;
        @extend %animatedBG;
        width: 90px;
        height: 52px;
        @include center("flex");
        color: $secondColor;
        font-size: 14px;
        @extend %transition;
        div{
            @extend %transition;
            background-image: url('../assets/photo/sectionheader/show all arrow.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(1);
            width: 0px;
            height: 30px;
        }
        &:hover{
            width: 110px;
            div{
                margin-left: 8px;
                width: 15px;
            }
        }
    }
}