@use "_shared.scss" as *;

.statisticsbox{
    color: $secondcolor;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    background-color: $second1-2transparent;
    width: 230px;
    height: 148px;
    border: 1px solid $primary2color;
    padding: 20px 0px;
    flex-grow: 1;
    @media screen and (max-width:768px) {
        width: 130px;
        height: 130px;
    }
    h4{
        font-family: 'Plexbold';
        font-size: clamp(34px,40px,3vw);
        text-align: center;
        @media screen and (max-width:768px) {
            font-size: clamp(24px,34px,3vw);
        }
    }
    h3{
        font-family: 'Plexbold';
        font-size: 16px;
        text-align: center;
    }
}