$assets: "../../assets/photo";

$siteLogo:'#{$assets}/global/Namiicon.svg';
$siteBackground: "#{$assets}/global/background.png";
$portfolioIcon: "#{$assets}/home/portofolio.svg";
$projectsIcon: "#{$assets}/home/products.svg";
$floatSocialButtonsIcon: "#{$assets}/global/social.svg";
$showAllArrow: "#{$assets}/sectionheader/show all arrow.svg";
$cardArrow : "#{$assets}/services/arrow.svg";
$listArrow : "#{$assets}/services/list arrow.svg";
$sectionBackground : "#{$assets}/global/sectionbackground.webp";
$formError : "#{$assets}/global/formerror.svg";
$pointIcon : "#{$assets}/servicesticker/split.png";
$mobileFrame : "#{$assets}/mobilescreens/mobileframe.png";
$searchIcon : "#{$assets}/portfolio/search.svg";

$primaryColor: #009f6f;
$primary2Color: #38c684;
$primary3Color: #11b14e;

$primaryTransparent: rgba($primaryColor, 0.19);
$primary1-2Transparent: rgba($primaryColor, 0.05);
$primary1-3Transparent:rgba($primaryColor, 0.369);
$primary2Transparent: rgba($primary2Color, 0.25);
$primary2-2Transparent: rgba($primary2Color, 0.733);
$primary3Transparent: rgba($primary3Color, 0.07);
$primary3-2Transparent: rgba($primary3Color, 0.17);

$secondColor:#ffffff;

$secondTransparent: rgba($secondColor, 0.19);
$second1-2Transparent: rgba($secondColor, 0.05);

$thirdColor : #e1e1e1;
$third2Color : #f5f5f5;

$PrimaryTextColor:#000000;
$secondTextColor:#777;
$thirdTextColor : #191919;

$scrollColor:#CACACA;

$gradientBG: linear-gradient(45deg, $primary3Color 0%, $primary2Color 50%, $primaryColor 100%);
$gradientTransparentBG: linear-gradient(45deg, $primary3Color 0%, $primary2-2Transparent 50%, $primaryColor 100%);
$gradientLine: linear-gradient(270deg, rgb(94, 248, 63) 0%, rgb(0, 226, 169) 25%, rgb(150, 223, 241) 50%, rgb(72, 246, 87) 75%);

// *{
//     border: 1px solid #000000;
// }

//*global style*/

%scroll{
    &::selection{
        background-color: $primaryColor;
    }
    &::-webkit-scrollbar
    {
        width: 8px;
        background-color: $secondColor;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: $scrollColor;
        border-radius: 40vw;
    }
}

%hiddenScroll{
    &::-webkit-scrollbar
    {
        width: 8px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: transparent;
        border-radius: 40vw;
    }
    
    &:hover{
        @extend %scroll;
    }
}

%removeAdditionalLinkStyle{
    &:active,
    &:hover,
    &:link,
    &:visited{
        color: unset;
        text-decoration: none;
    }
}

%hexagonBorder{
    position: relative;
    top: 0px;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        background-color: $primaryColor;
        @extend %hexagon;
        @extend %animatedBG;
    }
}


%semiHexagon{
    clip-path: polygon(15% 12%, 83% 12%, 100% 50%, 85% 86%, 15% 87%, 2% 50%);
    border-radius: 50%;
}

%wideHexagon{
    clip-path: polygon(15% 15%, 85% 15%, 100% 50%, 85% 85%, 15% 85%, 0% 50%);
    border-radius: 50%;
}
%hexagon{
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    border-radius: 50%;
}

%sectionCard{
    background-color: $secondColor;
    box-shadow: 0px 0px 20px #0000001a;
    border-radius: 10px;
    overflow: hidden;
    padding: 35px;
    h2.cardTitle{
        font-family: 'PlexBold';
        font-size: 28px;
        margin-bottom: 20px;
    }
    p.cardDescription{
        font-family: 'PlexNormal';
        color: $secondTextColor;
    }
    @media screen and (max-width:768px) {
        padding: 16px;
        h2.cardTitle{
            font-size: 20px;
            margin-bottom: 10px;
        }
        p.cardDescription{
            font-size: 14px;
        }
    }
}

%transition{
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

//*animation controls*/
%animatedBG{
    background: $gradientBG;
    background-size: 300%;
    animation-name: moveBG;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moveBG {
    0%{
        background-position-y: 0%;
        background-position-x: 100%;
    }
    25%{
        background-position-y: 25%;
        background-position-x: 75%;
    }
    50%{
        background-position-y: 50%;
        background-position-x: 50%;
    }
    75%{
        background-position-y: 25%;
        background-position-x: 75%;
    }
    100%{
        background-position-y: 0%;
        background-position-x: 100%;
    }
}

%animatedSectionBG{
    overflow: hidden;
    &::after{
        content: "";
        z-index: 0;
        width: 400%;
        height: 400%;
        position: absolute;
        background: $gradientTransparentBG, url($sectionBackground);
        background-size: cover;
        background-position: center;
        animation-name: moveSectionBG;
        animation-duration: 50s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        filter: brightness(85%);
        will-change: transform;
        transform: translateZ(0);
    }
    &::before{
        content: "";
        background-image: url($siteBackground);
        background-size: cover;
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        filter: contrast(180%);
    }
}

@keyframes moveSectionBG {
    0%{
        transform:translateY(-10%) translateX(-10%);
    }
    25%{
        transform:translateY(5%) translateX(5%);
    }
    50%{
        transform:translateY(-15%) translateX(-15%);
    }
    75%{
        transform:translateY(5%) translateX(5%);
    }
    100%{
        transform:translateY(-10%) translateX(-10%);
    }
}

%fallingDots{
    animation-name: fallingDown;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fallingDown {
    0%{
        transform: translateY(0);
        filter: opacity(0%);
    }
    50%{
        filter: opacity(100%);
    }
    100%{
        transform: translateY(60vh);
        filter: opacity(0%);
    }
}

%shiningImage{
    div.shine{
        overflow: hidden;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            z-index: 100;
            display: block;
            width: 150%;
            height: 150%;
            animation-duration: 1.3s;
            animation-fill-mode: forwards;
        }
    }
    &[dir = ltr]{
        div.shine{
            &::before{
                transform: translateX(15%) translateY(15%) rotate(110deg);
                background: linear-gradient(0deg,transparent 0% 50%, #ffffff4f 52%, transparent 80% 100%);
            }
        }
        &:hover{
            div.shine{
                &::before{
                    animation-name: shineMove-ltr;
                }
            }
        }
    }
    &[dir = rtl]{
        div.shine{
            &::before{
                bottom: 50px;
                transform: translateX(-35%) translateY(-35%) rotate(310deg);
                background: linear-gradient(0deg,transparent 0% 50%, #ffffff4f 52%, transparent 80% 100%);
            }
        }
        &:hover{
            div.shine{
                &::before{
                    animation-name: shineMove-rtl;
                }
            }
        }
    }
}

@keyframes shineMove-ltr {
    0%{
        transform: translateX(15%) translateY(15%) rotate(110deg);
    }
    100%{
        transform: translateX(-100%) translateY(-100%) rotate(130deg);
    }
}
@keyframes shineMove-rtl {
    0%{
        transform: translateX(-35%) translateY(-35%) rotate(310deg);
    }
    100%{
        transform: translateX(100%) translateY(100%) rotate(290deg);
    }
}

%animatedLine{
    background: $gradientLine;
    background-size: 300%;
    animation-name: moveBG;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moveBG {
    0%{

        background-position-x: 100%;
    }
    25%{

        background-position-x: 75%;
    }
    50%{

        background-position-x: 50%;
    }
    75%{

        background-position-x: 75%;
    }
    100%{

        background-position-x: 100%;
    }
}

//*mixins*/
@mixin socialButtonsStyle($type){
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    @if $type=="sty1"{
        border-color: $primaryColor;
        background-color: transparent;
    }
    @else if $type=="sty2"{
        border-color: $secondColor;
        background-color: $primaryColor;
    }
    img{
        @if $type=="sty2"{
            filter:brightness(0) invert(1);
        }
    }
}

@mixin circleWave($side,$size){
    z-index: 0;
    width: $size;
    height: $size;
    top: -1 * $size / 2;
    animation-name: circleWaveRotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @include center("flex");
    position: absolute;
    @if $side == "right" {
        right: -1 * $size / 2 ;
    }
    @else if $side == "left" {
        left: -1 * $size / 2;
    }
    div{
        position: absolute;
        flex-shrink: 0;
        border-style: solid;
        border-radius: 50% 30% 40% 50% / 30% 40% 50% 50%;
        border-color: $secondTransparent;
    }
    @for $i from 1 through 3{
        div:nth-child(#{$i}){
            border-width: (#{12px/$i}) ;
            width: (#{$i * ($size / 4) + 100}) ;
            height: (#{$i * ($size / 4) + 100}) ;
            transform: rotate(#{$i * 85deg});
        }
    }
}
@keyframes circleWaveRotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

//*global mixin*/
@mixin center ($type){
    @if $type=="flex"{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @else if $type=="X-flex"{
        display: flex;
        justify-content: center;
    }
    @else if $type=="Y-flex"{
        display: flex;
        align-items: center;
    }
    @else if $type=="grid"{
        display: flex;
        justify-items: center;
        align-content: center;
    }
    @else if $type=="X-grid"{
        display: flex;
        justify-items: center;
    }
    @else if $type=="Y-grid"{
        display: flex;
        align-content: center;
    }
    @else if $type=="position"{
        top:0px;
        bottom:0px;
        right:0px;
        left:0px;
    }
    @else if $type=="block"{
        display: block;
        margin:auto;
    }
}

@mixin textOverFlow($line){
    text-overflow: ellipsis;
    line-clamp: #{$line};
    display: block;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp:#{$line};
    -webkit-box-orient:vertical;
}