@use "_shared.scss" as *;

.downloadButton{
    width: fit-content;
    height: 50px;
    border-radius: 50px;
    @extend %animatedBG;
    @extend %transition;
    @extend %removeAdditionalLinkStyle;
    @extend %direction;
    @include center("flex");
    padding: 0px;
    
}
div.downloadButtonContent{
    @extend %transition;
    font-size: 14px;
    border-radius: 50px;
    background-color: $secondColor;
    width: fit-content;
    height: 90%;
    margin: 0px 2.5px;
    @include center("Y-flex");

    &:hover{
        background-color: transparent;
    }
}
div.arrowIconContainer{
    position: relative;
    left: 0px;
    right: 0px;
    @extend %animatedBG;
    width: 40px;
    height: 40px;
    color: $secondColor;
    margin: 2px;
    font-weight: 900;
    transition: 0.3s;
    z-index: 2;
}
span.downloadButtonTitle
{
    line-height: 0.7;
    position: relative;
    left: 0px;
    right: 0px;
    @extend %transition;
    color: #000;
    text-transform: capitalize;
    font-family: "PlexNormal";
}

%direction{
    &[dir=ltr]{
        >div.downloadButtonContent{
            padding-right: 15px;
            &:hover>span.downloadButtonTitle{
                color: $secondColor;
                left: -35px;
            }
            >div.arrowIconContainer{
                margin-right: 8px;
            }
            &:hover>div.arrowIconContainer{
                left: 87%;
            }
        }
    }
    &[dir=rtl]{
        >div.downloadButtonContent{
            padding-left: 15px;
            &:hover>span.downloadButtonTitle{
                color: $secondColor;
                right: -35px;
            }
            >div.arrowIconContainer{
                margin-left: 8px;
            }
            &:hover>div.arrowIconContainer{
                right: 81%;
            }
        }
    }
}