@use "_shared.scss" as *;
// @use "fonts.scss" as *;

.downloadButton{
    width: 260px;
    height: 50px;
    border-radius: 50px;
    @extend %animatedBG;
    @extend %transition;
    @extend %removeAdditionalLinkStyle;
    @include center("flex");
    padding: 0px;

    >div{
        font-size: 14px;
        border-radius: 50px;
        background-color: $secondColor;
        width: 98.2%;
        height: 90%;
        @include center("Y-flex");

        &:hover{
            background-color: transparent;
        }
        &:hover>span{
            color: $secondColor;
            left: -35px;
        }
        &:hover>div{
            left: 83%;
        }
    }
}

div.arrowIconContainer{
    position: relative;
    left: 0px;
    @extend %animatedBG;
    width: 40px;
    height: 40px;
    color: $secondColor;
    margin: 2px;
    margin-right: 8px;
    font-weight: 900;
    transition: 0.3s;
    z-index: 2;
}
span.downloadButtonTitle
{
    line-height: 0.7;
    position: relative;
    left: 0px;
    @extend %transition;
    color: #000;
    text-transform: capitalize;
    font-family: "PlexNormal";
}