@font-face {
    font-family: "PlexNormal";
    src: url("/src/assets/font/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.woff2"),format('woff2');
    font-size: 16px;
    font-display: optional;
}

@font-face {
    font-family: "PlexBold";
    src: url("/src/assets/font/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.woff2"),format('woff2');
    font-display: optional;
}