@use "_shared.scss" as *;

//*footer*/
.footer{
    padding: 56px 0px 40px 0px ;
    background-color: $secondColor;
    position: relative;
    z-index: 0;

    &::before{
        content: "";
        @extend %animatedLine;
        display: block;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 4px;
    }

}
div.footerTabs{
    align-items: flex-start;
    margin-bottom: 30px;
}
div.footerAboutTab{
    @extend %footerAboutTabDirection;
    padding-bottom: 10px;

    @media screen and (max-width:768px) {
        p{
            font-size: 14px;
        }
    }
}

img.footerLogo{
    height: 60px;
}

p.footerDescription{
    margin-top: 10px;
    font-family: "PlexNormal";
}

div.footerLinksTab,div.footerServicesTab,div.footerContactEmail{
    @extend %footerListDirection;
    
    @media screen and (max-width:768px) {
        h1{
            font-size: 16px;
        }
        li{
            font-size: 14px;
        }
    }

}
h1.footerTabTitle{
    font-family: "PlexNormal";
    font-weight: 600;

    &::after{
        content: "";
        display: block;
        width: 35px;
        height: 3px;
        border-radius: 20px;
        background-color: $primaryColor;
    }

}
ul.footerTabList{
    margin: 16px 0;
    padding-left: 0px;

    li{
        margin-bottom: 8px;
        display: flex;
        align-items: last baseline;
        @extend %transition;
        font-family: 'PlexNormal';

        img.footerTabListItemsIcon{
            width: 20px;
            align-self: center;
        }

        a.footerTabListItemsLink{
            @extend %removeAdditionalLinkStyle;
        }

        &::before{
            content: "";
            @extend %transition;
            height: 2px;
            width: 4px;
            display: block;
            background-color: $primaryColor;
        }

        &:hover{
            color: $primary2Color;
        }

        &:hover::before{
            width: 15px;
        }

    }
}
div.footerDownBar{
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    background-color: $primary3Transparent;
    min-height: 65px;
    flex-wrap: wrap;
    @media screen and (max-width:858px) {
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
    }
}
p.footerCopyRights{
    font-family: "PlexNormal";
    text-align: center;
}


%footerAboutTabDirection{
    &[dir=ltr]{
        padding-left: 10px;
    }
    &[dir=rtl]{
        padding-right: 10px;
    }
}

%footerListDirection{
    &[dir=ltr]{
        padding-left: 10px;
        ul.footerTabList{
            padding-left: 0px;
            li{
                img.footerTabListItemsIcon{
                    margin-right: 10px;
                }
                &::before{
                    margin-right: 8px;
                }
            }
        }
    }
    
    &[dir=rtl]{
        padding-right: 10px;
        ul.footerTabList{
            padding-right: 0px;
            li{
                img.footerTabListItemsIcon{
                    margin-left: 10px;
                }
                &::before{
                    margin-left: 8px;
                }
            }
        }
    }
}