@use "_shared.scss" as *;

.galleryCon{
  border-radius: 15px;
  background-color: $secondColor;
  width: 100%;
  height: 632px;
  padding: 16px 16px;
  @include center("flex");
  column-gap: 10px;
}

.galleryThumbnailsSlider.swiper{
  overflow: hidden;
  width: 135px;
  height: 100%;
}

.galleryThumbnailsSlide.swiper-slide{
  // max-width: 135px;
  height: fit-content;

  .galleryThumbnailsImage{
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    @extend %transition;
  }
}

.galleryMainSlider.swiper{
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
}

.galleryMainSlide.swiper-slide{
  height: fit-content;
  
  .galleryMainImage{
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
  }
}