@use "_shared.scss" as *;

.galleryCon{
  border-radius: 15px;
  background-color: $secondColor;
  width: 100%;
  height: 632px;
  padding: 16px 16px;
  @include center("flex");
  column-gap: 10px;
  
  &::selection{
    color: transparent;
    background-color: transparent;
  }
  
  @media screen and (max-width:991px) {
    height: auto;
    column-gap: 0px;
    row-gap: 10px;
    flex-direction: column-reverse;
  }
}

.galleryThumbnailsSlider.swiper{
  overflow: hidden;
  width: 135px;
  height: 100%;

  @media screen and (max-width:991px) {
    width: 100%;
    height: 112px;
  }
}

.galleryThumbnailsSlide.swiper-slide{
  // max-width: 135px;
  // height: fit-content !important;
    overflow: hidden;
    border-radius: 8px;
    
  .galleryThumbnailsImage{
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    @extend %transition;
  }
}

.galleryMainSlider.swiper{
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
  @extend %shiningImage;
  
  @media screen and (max-width:991px) {
    border-radius: 10px;
    height: auto;
  }
}

.galleryMainSlide.swiper-slide{
  height: fit-content;
  width: 100%;
  
  .galleryMainImage{
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
    
    @media screen and (max-width:991px) {
      border-radius: 10px;
    }
  }
  @media screen and (max-width:991px) {
    height: 75vw;
  }

}