@use "_shared.scss" as *;
@use "fonts.scss" as *;

.infoCard{
    &:hover{
        div.infoCardWaveAnimation{
            scale: 1.3;
        }
    }
    div.MuiContainer-root{
        overflow: hidden;
        position: relative;
        padding: 40px;
        border-radius: 20px;
        @extend %animatedBG;
    }
}
h2.infoCardTitle{
    font-family: "PlexBold";
    text-align: center;
    color: $secondColor;
    @media screen and (max-width:768px) {
        font-size: 18px;
    }
}
h1.infoCardSubtitle{
    font-family: "PlexBold";
    text-align: center;
    color: $secondColor;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.6;
    max-width: 700px;
    @media screen and (max-width:768px) {
        max-width: 600px;
        font-size: 24px;
    }
}
p.infoCardDescription{
    max-width: 750px;
    text-align: center;
    font-family: "PlexNormal";
    text-wrap: balance;
    color: $secondColor;
}
div.infoCardAttachment{
    width: 100%;
}
div.infoCardWaveAnimation{
    @include circleWave("left",430px);
    @extend %transition;
}