@use "_shared.scss" as *;

.introCardCon{
    background-color: $secondColor;
    padding: 32px;
    row-gap: 12px;
    border-radius: 15px;
    width: 100%;
}

.introCardIcon{
    width: 40px;
    filter: brightness(0);
}

h1.introCardTitle{
    text-transform: capitalize;
    font-family: "PlexBold";
    font-size: 30px;

    &:hover{
        color: $primaryColor;
    }
}

p.introCardDescription{
    font-family: "PlexNormal";
    font-size: 16px;
    color: $secondTextColor;

    @media screen and (max-width:768px) {
        font-size: 14px;
    }
}