@use "_shared.scss" as *;

.listCardCon{
    background-color: $secondColor;
    width: 100%;
    border-radius: 15px;
    padding: 24px;
    border: 1px solid $thirdColor;
    row-gap: 16px;
    @extend %listCardConDirection;
}

h2.listCardTitle{
    font-family: "PlexNormal";
    font-weight: 700;
    font-size: 18px;
}

%listCardConDirection{
    &[dir=ltr]{
        h2.listCardTitle{
            text-align: left;
        }
    }
    &[dir=rtl]{
        h2.listCardTitle{
            text-align: right;
        }
    }
}