@use "../shared/_shared.scss" as *;
// @use "../shared/fonts.scss" as *;


//*navBar*/
.navBar.MuiAppBar-root{
    position: fixed;
    pointer-events: all;
    top: 10px; 
    font-family: "PlexNormal";
    >div{
        height:70px;
        border-radius: 40px;
        @include center("flex");
        @extend %transition;
    }
}
.navLogo{
    width: 126px;
}
.navContent{
    width: 100%;
    justify-content: space-between;
    box-shadow: none;
    @media screen and (min-width:0px) {
        padding: 0px 3% 0px 3.3%;
    }
    @media screen and (min-width:992px) {
        padding: 0px 1% 0px 1.8%;
    }
    @media screen and (min-width:1320px) {
        padding: 0px 10px 0px 15px;
    }
}
.navBarItems{
    span{
        padding: 13px 15px;
        @extend %semiHexagon;
        @include center("flex");
        @extend %transition;
        @media screen and (max-width:1080px) and (min-width:992px) {
            padding: 13px 10px;
        }
    }
    @media screen and (max-width:992px) {
        display: none !important;
    }
}
.navBarActiveItem{
    color: $secondColor;
    @extend %animatedBG;
    border: 1px solid #ffffff;
}
.navBarLang{
    @extend %hexagonBorder;
    @include center("flex");
    width: 51px;
    height: 45px;
    align-self: center;
    button{
        font-family: "PlexBold";
        font-size: 14px;
        background-color: $secondColor;
        border: none;
        outline: none;
        line-height: 2;
        @extend %hexagon;
        width: 90%;
        height: 90%;
        @extend %transition;
        &:hover{
            @extend %animatedBG;
            color: white;
            cursor: pointer;
        }
    }
}
.navSideMenuButton{
    @media screen and (min-width:992px) {
        display: none !important;
    }
    @media screen and (max-width:992px) {
        display: flex !important;
    }
}
.navSideMenuContent{
    justify-content: flex-start;
    align-items: flex-start;
}
.navSideMenu{
    padding-top: 32px;
    width: 250px;
    font-family: "PlexNormal";
    font-size: 14px;
    img.navLogo{
        margin-bottom: 24px !important;
    }
}
div.navSideMenuItem{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 43px;
    border-radius: 12px;
    @include center("Y-flex");
}
[data-aos="navBarShrink"] {
    >div.MuiContainer-root{
        box-shadow: none;
        background-color: transparent;
    }
    &.aos-animate {
    >div.MuiContainer-root{
        box-shadow: 0px 0px 20vw $primaryColor;
        background-color: $secondColor;
        width: min(1100px,97%);
        padding-right: 20px;
        padding-left: 20px;
        >div.navContent>img.navLogo{
            @media screen and (min-width:992px) and (max-width:1140px) {
                width: 11%;
            }
        }

        @media screen and (min-width:992px) and (max-width:1140px),(max-width:992px) {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
  }
}