@use "_shared.scss" as *;

div.objectivesList{
    display: flex;
    flex-wrap: wrap;
    background-color: $secondColor;
    @extend %transition;
    @extend %objectivesListDirection;
}
ul.serviceItemObjectives{
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: $PrimaryTextColor;
    list-style-type:none;
    padding: 0px;
    row-gap: 16px;

    li{
        font-family: 'PlexNormal';
        @include center("Y-flex");

        &::before{
            content:url($listArrow);
            height: fit-content;
        }
        @media screen and (max-width:768px) {
            font-size: 14px;
        }
    }
}


%objectivesListDirection{
    &[dir=ltr]{
        ul.serviceItemObjectives{
            li::before {
                margin-right: 5px;
            }
        }
    }
    &[dir=rtl]{
        ul.serviceItemObjectives{
            li::before {
                transform: rotateY(180deg);
                margin-left: 5px;
            }
        }
    }
}