@use "_shared.scss" as *;

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    @extend %scroll;
}
body{
    overflow-x: hidden;
    background-image: url($siteBackground);
    background-repeat: repeat;
}