@use "_shared.scss" as *;
// @use "fonts.scss" as *;

html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    @extend %scroll;
    height: 1500px;
    padding-top: 140px;
    background-image: url($siteBackground);
    background-repeat: repeat;
}