@use "_shared.scss" as *;

button.closeForm{
    font-size: 16px;
    font-family: "PlexBold";
    position: absolute;
    top: -10px;
    z-index: 1000;
    color: $secondColor;
    background-color: #000000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid $secondColor;
}

.requestForm{
    overflow-y: scroll;
    overflow-x: hidden;
    @extend %scroll;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1200;
    width: 100%;
    height: 100%;
    background-color: #000000af;
    @include center("flex");
    @extend %direction;
    
    form{
        margin: 10px;
        position: relative;
        border-radius: 20px;
        padding: 8px 24px 24px 24px;
        width: min(500px,100%);
        background-color: $secondColor;
        
        input,textarea,.MuiSelect-select{
            caret-color: $primaryColor !important;
            padding: 0px 12px;
            background-color: $secondColor;
            border-radius:10px;
            caret-color: $secondColor;
            height: 46px;
            
            &::selection{
                background-color: $primary2Color;
            }
        }
        input::-webkit-inner-spin-button{
            display: none;
        }
        textarea{
            padding: 12px;
            @extend %scroll;
            resize: vertical;
        }
        .MuiTextField-root{
            width: 100%;
            font-family: "PlexNormal";
        }
        .MuiInput-root {
            &:before,
            &:hover:not(.Mui-disabled):before {
                border-bottom: 1px solid $secondColor;
            }
        }
        .MuiFormHelperText-root{
            font-size: 16px;
            font-family: "PlexNormal";
            margin-bottom: 5px;
            color: #000000;
        }
        .MuiInputBase-multiline{
            padding: 0;
        }
        div.MuiSelect-select{
            @include center("Y-flex")
        }
    }

    @media screen and (max-height:600px) {
        align-items: flex-start;
    }
}

label.inputTitle
{
    font-family: "PlexNormal";
    font-weight: 600;
    font-size: 13px;
    color: $secondTextColor;
    margin-bottom: 5px;

    span.requiredSymbol{
        color: #ff0000;
    }
}

.sendButtonContainer{
    justify-content: center;

    div{
        margin-top: 10px;
        @include center("flex");
        width: 146px;
        height: 53px;
        @extend %wideHexagon;
        @extend %animatedBG;

        button{
            color: #000000;
            width: 97%;
            height: 90%;
            @extend %wideHexagon;
            background-color: $secondColor;
            border: none;
            outline: none;
            position: relative;
            z-index: 1;
            @extend %transition;
            &:hover{
                @extend %animatedBG;
                color:$secondColor;
            }
        }
    }
}


%direction{
    &[dir=ltr]{
        button.closeForm{
            right: -10px;
        }
        div.formAlert{
            div.MuiAlert-icon{
                margin-left: 0px;
                margin-right: 12px;
            }
        }
        div.MuiInputBase-root{
            div.MuiSelect-select{
                padding-left: 12px;
                &~svg.MuiSvgIcon-root{
                    right: 7px;
                }
            }
        }
        li.MuiMenuItem-root{
            justify-content: flex-start;
            -webkit-justify-content:flex-start;
        }
        form{
            .MuiFormHelperText-root{
                text-align: left;
            }
        }
        
    }
    &[dir=rtl]{
        button.closeForm{
            left: -10px;
        }
        div.formAlert{
            div.MuiAlert-icon{
                margin-right: 0px;
                margin-left: 12px;
            }
        }
        div.MuiInputBase-root{
            div.MuiSelect-select{
                padding-right: 12px;
                &~svg.MuiSvgIcon-root{
                    left: 7px;
                    right: unset;
                }
            }
        }
        li.MuiMenuItem-root{
            justify-content: flex-start;
            -webkit-justify-content:flex-start;
        }
        form{
            .MuiFormHelperText-root{
                text-align: right;
            }
        }
        
    }
}