@use "_shared.scss" as *;

nav.routesBarContainer{
    color: $primaryColor;
    font-family: "PlexNormal";
}
.routBarTab{
    text-transform: capitalize;
}
.activeRoutTab{
    color: $secondTextColor;
}