@use "_shared.scss" as *;

.socialButtons {
    margin-top: 25px;
    a.SocialButton{
        display: block;
        width: 40px;
        height: 40px;
        @extend %transition;
        @include socialButtonsStyle("sty1");
        &:hover{
            background-color: $primaryColor;
            margin-top: -5px;
        }
        div{
            @extend %transition;
        }
        &:hover>div{
            filter:brightness(0) invert(1);
        }
    }
    // $inx:0;
    // @each $iconURL in $socialiconurls {
    //     $inx : $inx + 1;
    //     a:nth-child(#{$inx})::after{
    //         background-image: url($iconURL);
    //     }
    // }
}