@use "_shared.scss" as *;

.statisticsList{
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;

    @media screen and (min-width:0px) {
        flex-wrap: wrap;        
    }
    @media screen and (min-width:992px) {
        flex-wrap: nowrap;        
    }
}
.statisticsBox{
    justify-content:space-around;
    align-items:center;
    color: $secondColor;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    background-color: $second1-2Transparent;
    width: 230px;
    height: 148px;
    border: 1px solid $primary2Color;
    padding: 20px 0px;
    flex-grow: 1;
    @media screen and (max-width:768px) {
        width: 130px;
        height: 130px;
    }
}

h4.statisticsBoxValue{
    font-family: 'PlexBold';
    font-size: clamp(34px,40px,3vw);
    text-align: center;
    @media screen and (max-width:768px) {
        font-size: clamp(24px,34px,3vw);
    }
}
h5.statisticsBoxTitle{
    font-family: 'PlexBold';
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
}