@use "_shared.scss" as *;


.waveAnimationCon{
    width: 100%;
}

div.waveAnimation{
    @extend %direction;
    @extend %transition;
}

%direction{
    &[dir=ltr]{
        &[wave_dir=left]{
            @include circleWave("left",430px);
        }
        &[wave_dir=right]{
            @include circleWave("right",430px);
        }
    }
    &[dir=rtl]{
        &[wave_dir=left]{
            @include circleWave("right",430px);
        }
        &[wave_dir=right]{
            @include circleWave("left",430px);
        }
    }
}