@use "_shared.scss" as *;

.whyUsSection{
    background-color: $secondColor;
    padding: 60px 0px;
}

.answerBox{
    background-color: $primary1-2Transparent;
    padding: 40px;
    row-gap: 12px;
    border-radius: 40px;
    width: 100%;
}

.answerBoxIcon{
    width: 60px;
}

h5.answerBoxTitle{
    font-family: "PlexNormal";
    font-weight: 600;
    font-size: 20px;

    @media screen and (max-width:768px) {
        font-size: 16px;
    }
}

p.answerBoxDescription{
    font-family: "PlexNormal";
    font-size: 16px;

    @media screen and (max-width:768px) {
        font-size: 14px;
    }
}