@use "../shared/_shared.scss" as *;

//*servicesSection*/
.servicesSection{
    position: relative;
    @extend %animatedSectionBG;
    padding-top: 80px;
    padding-bottom: 80px;
    color: $secondColor;
    @include center("flex");
}
.servicesHeader{
    position: relative;
    z-index: 2;
    @include center("flex");
}
h1.servicesTitle{
    text-align: center;
    font-family: 'PlexBold';
    @media screen and (max-width:768px) {
        font-size: 18px;
    }
}
h2.servicesSubtitle{
    text-transform: uppercase;
    font-family: 'PlexBold';
    font-size: 40px;
    text-align: center;
}
p.servicesDescription{
    font-family: 'PlexNormal';
    text-wrap: balance;
    text-align: center;
    width: 900px;
    div{
        will-change: transform, opacity;
        transform: translateY(30px);
        opacity: 0;
    }
    @media screen and (max-width:768px) {
        font-size: 14px;
    }
}
.servicesItems{
    position: relative;
    z-index: 2;
    padding: 20px;
    >div{
        box-shadow: 0px 0px 0px 2px $primary1-3Transparent;
        border-radius: 20px;
        padding: 40px;
        background-color: $primary2Transparent;
        backdrop-filter:  brightness(0) opacity(20%);
        position: relative;
    }
}
div.serviceItemFace{
    overflow: hidden;
    &[dir=rtl]{
        div.serviceItemHeader{
            div.serviceItemArrow{
                &::before{
                    transform: rotateY(180deg)
                }
            }
        }
    }
}
div.serviceItemHeader{
    @include center('Y-flex');
    justify-content: space-between;
    margin-bottom: 20px;
    img.serviceItemIcon{
        width: 58px;
    }
    div.serviceItemArrow{
        border: 1px dashed $secondColor;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            filter: brightness(0) invert(0.9) opacity(0.8);
            background-image: url($cardArrow);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 45%;
        }
    }
}
h3.serviceItemTitle{
    font-family: 'PlexBold';
    font-size: 28px;
    @media screen and (max-width:768px) {
        font-size: 20px;
    }
}
p.serviceItemDescription{
    font-family: 'PlexNormal';
    height: 70px;
    overflow: hidden;
    @include textOverFlow(3);
    @media screen and (max-width:768px) {
        font-size: 14px;
    }
}
div.serviceItemBack{
    filter: opacity(0);
    @include center("flex");
    flex-wrap: wrap;
    padding: 0px 20px;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $secondColor;
    @extend %transition;
    &:hover{
        filter: opacity(100%);
        button.serviceItemReadMore{
            bottom: -15px;
        }
    }
    &[dir=rtl]{
        ul.serviceItemObjectives{
            li::before {
                transform: rotateY(180deg);
            }
        }
        button.serviceItemReadMore{
            &::after{
                transform: rotateY(180deg);
            }
        }
    }
}
ul.serviceItemObjectives{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    color: $PrimaryTextColor;
    list-style-type:none;
    padding: 0px;
    li{
        transform: translateX(-20px);
        margin: 9px 0px;
        font-family: 'PlexNormal';
        filter: brightness(77%) opacity(0);
        @include center("Y-flex");
        &::before{
            content: url($listArrow);
            margin: 0px 5px 0px 20px;
            height: fit-content;
        }
        @media screen and (max-width:768px) {
            font-size: 14px;
        }
    }
}
button.serviceItemReadMore{
    font-family: "PlexNormal";
    font-size: 16px;
    transition: 0.3s;
    box-shadow: none;
    position: absolute;
    bottom: 20px;
    border: 2px solid $secondColor;
    border-radius: 20px;
    // width: 120px;
    @include center("flex");
    padding: 3px 10px;
    &::after{
        content:"";
        filter: brightness(0) invert(1);
        background-image: url($listArrow);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 47%;
        width: 25px;
        height: 20px;
    }
}