@use "../shared/_shared.scss" as *;

.notFoundCon{
    height: 100vh;
    @include center("flex");
    
    h1{
        font-size: 56px;
    }
    
    a{
        @extend %removeAdditionalLinkStyle;
        font-size: 18px;
        color:$secondColor !important;

        &:hover{
            @extend %animatedLine;
            color:transparent !important;
            background-clip: text;
            -webkit-background-clip: text;
        }
        
        &::before{
            content: url($listArrow);
            filter: brightness(90%);
            margin: 5px;
            color : $secondColor;
        }
    }
}