@use "../shared/_shared.scss" as *;

body{
    padding-top: 130px;
}
.productRequestButton.MuiButton-root{
    width: clamp(0px, 300px, 100%);
    font-family: "PlexNormal";
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
    margin: 32px auto 26px auto;
}

.productDetailsSide,
.productListsSide{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}