@use "../shared/_shared.scss" as *;

body{
    padding-top: 130px;
}
.orderProjectCon{
    display: flex;
    position: sticky;
    bottom: 40px;
    z-index:1100;
}

.projectRequestButton.MuiButton-root{
    width: clamp(0px, 300px, 100%);
    font-family: "PlexNormal";
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
    margin: auto;
}

.projectDetailsSide,
.projectListsSide{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}