@use "../shared/_shared.scss" as *;

body{
    padding-top: 130px;
}
.serviceRequestButton.MuiButton-root{
    margin: auto;
    width: 300px;
    font-family: "PlexNormal";
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
}