@use "../shared/_shared.scss" as *;

.serviceOrderDetailsCon{
    padding-top: 130px;
}
.serviceRequestButton.MuiButton-root{
    width: clamp(0px, 300px, 100%);
    font-family: "PlexNormal";
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
    margin: 32px auto 26px auto;
}
